<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "theme_meta"}}
        <title>
            FAQ
        </title>
        {{template "theme_head"}}
    </head>
    <body>
        <header class="header-transparent" id="header-main">
            {{template "layout_search" .}}
            {{template "layout_top_navbar" .}}
            {{template "layout_main_navbar" .}}
        </header>
        <main>
            <!-- Spotlight -->
            <section class="slice slice-lg bg-gradient-primary nav-offset">
                <div class="container pt-lg">
                    <div class="row">
                        <div class="col-lg-8">
                            <h2 class="display-4 text-white">Faq</h2>
                            <h5 class="mb-4 text-white">Frequently Asked Questions</h5>
                        </div>
                    </div>
                </div>
                <a href="#sct-faq" class="tongue tongue-bottom tongue-white scroll-me">
                    <i class="fas fa-angle-down"></i>
                </a>
            </section>

            <section class="slice slice-lg" id="sct-faq">
                <div class="container">
                    <div class="row row-grid">
                        <div class="col-lg-3">
                            <div class="card" data-toggle="sticky" data-sticky-offset="100">
                                <div class="card-header py-3">
                                    <span class="h6">Faq</span>
                                </div>
                                <div class="list-group list-group-flush">
                                    <a href="#section_1" data-scroll-to data-scroll-to-offset="50" class="list-group-item list-group-item-action d-flex justify-content-between">
                                        <div>
                                            <i class="fas fa-desktop mr-2"></i>
                                            <span>Getting Started</span>
                                        </div>
                                        <div>
                                            <i class="fas fa-angle-right"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 ml-lg-auto">
                            <div class="mb-md">
                                <h4 class="mb-4" id="section_1">Getting Started</h4>
                                {{range .CMS.faq_general}}
                                <div class="py-4 border-bottom">
                                    <h5 class="mb-3">Q: {{.q}}</h5>
                                    <div class="mb-0">
                                        {{markdown .a}}
                                    </div>
                                </div>
                                {{end}}
                                <div class="text-right py-4">
                                    <a href="#section_1" data-scroll-to data-scroll-to-offset="50" class="text-dark text-sm font-weight-bold">Back to top<i class="fas fa-long-arrow-alt-up ml-2"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Call to action -->
            <section class="slice slice-lg bg-secondary">
                <span class="tongue tongue-top tongue-white"><i class="fas fa-angle-up"></i></span>
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-8 text-center">
                            <h3 class="font-weight-400">Start Saving Today! <span class="font-weight-700">Get your free address!</span></h3>
                            <div class="mt-5">
                                <a href="/register" class="btn btn-primary btn-circle btn-translate--hover px-4">
                                    Sign Up and start Shopping !
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        {{template "theme_footer"}}
        {{template "theme_body_plugins"}}
</body>
</html>
