<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "theme_meta"}}
        <title>
            Welcome to OCL
        </title>
        {{template "theme_head"}}
        <style>
            #preloadedImages {
                width: 0px;
                height: 0px;
                display: inline;
                background-image: url("/public/img/home/bg-courier.jpg");
                background-image: url("/public/img/home/bg-boxes.jpg");
                background-image: url("/public/img/home/bg-family.jpg");
            }
        </style>
    </head>
    <body>
        <header class="header-transparent" id="header-main">
            {{template "layout_search" .}}
            {{template "layout_top_navbar" .}}
            {{template "layout_main_navbar" .}}
        </header>
        <main>
            <!-- Spotlight -->
            <section class="position-relative pb-lg-lg pt-lg-xl bg-dark nav-offset">
                <div class="bg-img-holder top-0 right-0 col-lg-6 zindex-100 home-img-slider" data-bg-size="cover">
                </div>
                <div class="container py-md">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="text-center text-lg-left">
                                <h2 class="heading h1 text-white mb-3">{{ .CMS.spotlight.title }}</h2>
                                <div class="lead lh-180 text-white">{{markdown .CMS.spotlight.body }}</div>
                                <a href="/register" class="btn btn-white btn-circle mt-4">Sign up for free today</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- How it works Summary-->
            <section class="slice slice-lg pt-md">
                <div class="container">
                    <div class="card-group flex-column flex-lg-row">
                        {{range .CMS.steps_summary }}
                        <div class="card {{if .bg_dark}}bg-gradient-primary text-white{{else}}bg-gradient-secondary{{end}} px-4 px-lg-5 py-5 border-0">
                            <div class="card-body">
                                <h1 class="heading h2 {{if .bg_dark}}text-white{{end}}">{{ .title }}</h1>
                                <p class="mt-4 mb-0">
                                    {{ .body }}
                                </p>
                            </div>
                        </div>
                        {{end}}
                    </div>
                </div>
            </section>

            <!-- Online stores -->
            <section class="slice slice-lg">
                <div class="container no-padding">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-md text-center">
                                <h3 class="heading h3">{{ .CMS.popular_stores.title }}</h3>
                                <div class="fluid-paragraph text-center mt-4">
                                    <p class="lead lh-180">
                                        {{ .CMS.popular_stores.body }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="blurable--hover">
                        <a href="/register">
                            <div class="row blurable-item">
                                <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">

                                    <div class="px-4 py-4">
                                        <img alt="Image placeholder" src="/public/img/home/brands/amazon.png" class="img-fluid">
                                    </div>

                                </div>
                                <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">

                                    <div class="px-4 py-4">
                                        <img alt="Image placeholder" src="/public/img/home/brands/best-buy.png" class="img-fluid">
                                    </div>

                                </div>
                                <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">

                                    <div class="px-4 py-4">
                                        <img alt="Image placeholder" src="/public/img/home/brands/walmart.png" class="img-fluid">
                                    </div>

                                </div>
                                <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">

                                    <div class="px-4 py-4">
                                        <img alt="Image placeholder" src="/public/img/home/brands/levis.png" class="img-fluid">
                                    </div>

                                </div>
                                <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">

                                    <div class="px-4 py-4">
                                        <img alt="Image placeholder" src="/public/img/home/brands/boots.png" class="img-fluid">
                                    </div>

                                </div>
                                <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">

                                    <div class="px-4 py-4">
                                        <img alt="Image placeholder" src="/public/img/home/brands/ebay.png" class="img-fluid">
                                    </div>

                                </div>
                            </div>
                            <span class="blurable-hidden btn btn-sm btn-info btn-circle">{{ .CMS.popular_stores.cta_button }}</span>
                        </a>
                    </div>
                </div>
            </section>

            <!-- Steps -->
            <section id="how-it-works" class="slice slice-lg bg-secondary">
                <div class="container-fluid">
                    <div class="row row-grid align-items-center justify-content-around">
                        <div class="col-lg-5">
                            <div>
                                <img alt="Image placeholder" src="/public/img/home/shopping.png" class="img-center img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="pr-md-4">
                                <h3 class="font-weight-light">{{ .CMS.how_it_works.title }}</h3>
                                <p class="lead mb-5">{{ .CMS.how_it_works.body }}</p>
                                {{range .CMS.how_it_works.steps }}
                                <div class="card shadow border-0 mb-4">
                                    <div class="card-body py-4">
                                        <div class="d-flex align-items-start">
                                            <div class="icon icon-shape icon-{{.color}} rounded-circle">
                                                <span class="font-weight-bold">{{.order}}</span>
                                            </div>
                                            <div class="icon-text pl-4">
                                                <h5 class="font-weight-bold">{{.title}}</h5>
                                                <div class="mb-0">{{markdown .body}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{end}}
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Mission Statement -->
            <section class="slice slice-xl pb-200 bg-cover bg-size--contain" style="background: url(/public/img/home/warehouse-worker.jpg) center center;">
                <div class="mask bg-dark opacity-8"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <h5 class="h6 font-weight-700 text-white text-uppercase">{{.CMS.our_mission.title}}</h5>
                            <div class="heading h3 text-white lh-150 mt-4">
                                {{.CMS.our_mission.body}}
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Testimonials -->
            <section class="slice slice-lg">
                <div class="container swiper-js-container">
                    <div class="swiper-js-container row align-items-center">
                        <div class="col-lg-4">
                            <div class="pr-4">
                                <h4>Testimonials</h4>
                                <p class="lead mt-3">Don't trust us? See what our clients are saying about our service.</p>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="swiper-container" data-swiper-items="1" data-swiper-space-between="20" data-swiper-sm-items="2" data-swiper-sm-space-between="20" data-swiper-xl-items="3" data-swiper-xl-space-between="20">
                                <div class="swiper-wrapper">
                                    {{range .CMS.testimonials }}
                                    <div class="swiper-slide">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="d-flex align-items-center">
                                                    <span class="avatar avatar-sm bg-red">{{.initials}}</span>
                                                    <div class="avatar-content">
                                                        <h5 class="h6 mb-0">{{.name}}</h5>
                                                        <small class="d-block text-muted">{{.city}}</small>
                                                    </div>
                                                </div>
                                                <p class="mt-4 lh-180">{{.body}}</p>
                                                <span class="static-rating static-rating-sm">
                                                    {{range torange .stars}}
                                                    <i class="star fas fa-star voted"></i>
                                                    {{end}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    {{end}}
                                </div>
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination w-100 pt-4 d-flex align-items-center justify-content-center"></div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <div id="preloadedImages"></div>

        {{template "theme_footer"}}
        {{template "theme_body_plugins"}}
        <script>
            var bg_img = ["/public/img/home/bg-courier.jpg", "/public/img/home/bg-boxes.jpg", "/public/img/home/bg-family.jpg"]

            var imgIdx = 0
            $(".home-img-slider").css("background-image", 'url("' + bg_img[imgIdx] + '")')

            function change() {
                if(++imgIdx >= bg_img.length) {
                    imgIdx = 0
                }
                $(".home-img-slider").fadeTo("slow", 0, function(){
                    $(".home-img-slider").css("background-image", 'url("' + bg_img[imgIdx] + '")').fadeTo("slow", 1)
                })
            }

            setInterval(change, 5000)
        </script>
</body>
</html>
