<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "theme_meta"}}
        <title>
            Welcome to OCL
        </title>
        {{template "theme_head"}}
    </head>
    <body>
        <header class="header-transparent" id="header-main">
            {{template "layout_search" .}}
            {{template "layout_top_navbar" .}}
            {{template "layout_main_navbar" .}}
        </header>
        <main>
            <!-- Spotlight -->
        <section class="slice slice-md mt-4">
                <div class="container pt-lg-lg">
                    <div class="row row-grid justify-content-center">
                        <div class="col-lg-8 text-center">
                            <h2 class="heading h1 mb-4">{{.CMS.spotlight.title}}</h2>
                            <div class="lead lh-180">{{markdown .CMS.spotlight.body}}</div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="slice slice-lg">
                    <div class="container">
                        <div class="row row-grid align-items-center">
                            {{range .CMS.hubs}}
                            <div class="col-md-6 mb-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="heading heading-5 strong-600">{{.name}}</h5>
                                        <div class="card-text">{{linebreak .address}}</div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <a target="_blank" href="/public/rates/{{.rates}}" class="btn btn-sm btn-primary">View Rates</a>
                                            </div>
                                            <div class="col text-right text-xs-right">
                                                <ul class="list-inline mb-0">
                                                    <li class="list-inline-item pr-2">
                                                        <img class="avatar avatar-md" src="/public/img/flags/{{.flag}}.png" alt="">
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{end}}
                        </div>
                    </div>
                </section>
        </main>



        {{template "theme_footer"}}
        {{template "theme_body_plugins"}}
</body>
</html>
