<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "theme_meta"}}
        <title>
            Support
        </title>
        {{template "theme_head"}}
    </head>
    <body>
        <header class="header-transparent" id="header-main">
            {{template "layout_search" .}}
            {{template "layout_top_navbar" .}}
            {{template "layout_main_navbar" .}}
        </header>
        <main>
            <!-- Spotlight -->
            <section class="slice slice-md pb-250">
                <div class="container pt-lg-lg">
                    <div class="row row-grid justify-content-center">
                        <div class="col-lg-8 text-center">
                            <h2 class="heading h1 mb-4">{{.CMS.spotlight.title}}</h2>
                            <div class="lead lh-180">{{markdown .CMS.spotlight.body}}</div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="slice slice-lg pt-lg-5">
                <div class="container">
                    <div class="row row-grid mt--200">
                        {{range .CMS.offices}}
                        <div class="col-lg-6">
                            <div class="card bg-dark opacity-container text-white overflow-hidden shadow border-0">
                                <a href="#">
                                    <div class="card-img-bg" style="background-image: url('/public/img/{{.image}}');"></div>
                                    <span class="mask bg-gradient-primary opacity-9 opacity-8--hover"></span>
                                    <div class="card-body px-5 py-5">
                                        <div style="min-height: 250px;">
                                            <h2 class="h2 text-white font-weight-bold mb-4">{{.location}}</h2>
                                            <h5 class="text-white mt-4 mb-2">{{markdown .address}}</h5>
                                            <h5 class="text-white">{{markdown .phone}}</h5>
                                        </div>
                                        <span class="text-white text-uppercase font-weight-bold">
                                    See on map
                                    <i class="fas fa-angle-right ml-2"></i>
                                </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {{end}}
                    </div>
                </div>
            </section>

            <!-- Call to action -->

            <section class="slice slice-lg bg-secondary">

                <span class="tongue tongue-top"><i class="fas fa-angle-up"></i></span>

                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-8 text-center">
                            <h3 class="font-weight-400">{{markdown .CMS.other.message}}</h3>
                        </div>
                    </div>
                </div>
            </section>
        </main>



        {{template "theme_footer"}}
        {{template "theme_body_plugins"}}
</body>
</html>
