{{define "layout_search"}}
<div id="search-main" class="navbar-search">
    <div class="container">
        <!-- Search form -->
        <form class="navbar-search-form" role="form">
            <div class="form-group">
                <div class="input-group input-group-transparent">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Type and hit enter ...">
                </div>
            </div>
        </form>
    </div>
</div>
{{end}}

{{define "layout_top_navbar"}}
{{if .WhiteNav}}
<div id="navbar-top-main" class="navbar-top  navbar-light bg-white border-bottom">
{{ else }}
<div id="navbar-top-main" class="navbar-top  navbar-dark bg-dark border-bottom">
{{end}}
    <div class="container">
        <div class="navbar-nav align-items-center">
            <div class="d-none d-lg-inline-block">
                <span class="navbar-text mr-3">Overseas Connect Logistics</span>
            </div>
            <div>
                <ul class="nav">
                    <li class="nav-item dropdown ml-lg-2 dropdown-animate" data-toggle="hover">
                        <a class="nav-link px-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img alt="Image placeholder" src="/public/img/icons/flags/gh.svg">
                            <span class="d-none d-lg-inline-block">English</span>
                            <span class="d-lg-none">EN</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-arrow"></div>
                    </li>
                    <li class="ml-lg-2 nav-item">
                        <a class="nav-link" href="https://twitter.com/OCLghana" target="_blank">
                            <img src="/public/img/social/twitter.png" style="max-height:24px;" alt="">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="https://www.instagram.com/oclghana/" target="_blank">
                            <img src="/public/img/social/instagram.png" style="max-height:24px;" alt="">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/oclghana/" target="_blank">
                            <img src="/public/img/social/facebook.png" style="max-height:24px;" alt="">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.linkedin.com/company/ocl-ghana" target="_blank">
                            <img src="/public/img/social/linkedin.png" style="max-height:24px;" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ml-auto">
                <ul class="nav">
                    {{if .CurrentUser}}
                    <li class="nav-item">
                        <a class="btn btn-sm btn-outline-secondary btn-icon" href="/logout">
                            <span class="btn-inner--icon"><i class="fas fa-sign-out-alt"></i></span>
                            <span class="btn-inner--text">Sign Out</span>
                        </a>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="btn btn-sm btn-outline-secondary btn-icon" href="/app/">
                            <span class="btn-inner--icon"><i class="fas fa-user"></i></span>
                            <span class="btn-inner--text">My Account</span>
                        </a>
                    </li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "layout_main_navbar"}}
<!-- Main navbar -->
{{ if .WhiteNav }}
<nav class="navbar navbar-main navbar-expand-lg navbar-sticky navbar-light bg-white" id="navbar-main">
{{ else }}
<nav class="navbar navbar-main navbar-expand-lg navbar-sticky navbar-transparent navbar-dark bg-dark" id="navbar-main">
{{end}}
    <div class="container">
        <a class="navbar-brand mr-lg-5" href="/">
            {{if .WhiteNav}}
            <img alt="Image placeholder" src="/public/img/brand/dark.png" style="height: 50px;">
            {{else}}
            <img alt="Image placeholder" src="/public/img/brand/white.png" style="height: 50px;">
            {{end}}
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-main-collapse">
            <ul class="navbar-nav align-items-lg-center">
                <li class="nav-item ">
                    <a class="nav-link" href="/" role="button">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/prices" role="button">Prices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#how-it-works" role="button">How it Works</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faq" role="button">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/support">Support</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-action="search-open" data-target="#search-main"><i class="fas fa-search"></i></a>
                </li>

            </ul>
            {{if not .CurrentUser}}
            <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                <li class="nav-item mr-0">
                    <a href="#" class="nav-link d-lg-none">Sign up now for free</a>
                    <a href="/register" class="btn btn-sm btn-primary btn-circle btn-icon d-none d-lg-inline-flex">
                        <span class="btn-inner--icon"><i class="fas fa-edit"></i></span>
                        <span class="btn-inner--text">Sign up Now</span>
                    </a>
                </li>
            </ul>
            {{end}}

        </div>
    </div>
</nav>
{{end}}

{{define "form_validation_plugin"}}
<script src="/public/vendor/jquery-parsley/parsley.min.js"></script>
<script>
    var validationOptions = {
        errorClass: 'is-invalid',
        successClass: 'is-valid',
        errorsWrapper: '<div>',
        errorTemplate: '<span></span>',
        trigger: 'change'
    }
</script>
{{end}}
