{{define "theme_meta"}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="3bconsult">
{{end}}

{{define "theme_footer"}}
<footer class="footer footer-dark bg-gradient-primary">
    <div class="container">
        <div class="row pt-md">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <a href="/">
                    <img src="/public/img/brand/white.png" alt="Footer logo" style="height: 70px;">
                </a>
                <p class="text-sm">On time every time.</p>
            </div>
            <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
                <h6 class="heading mb-3">UK Shops</h6>
                <ul class="list-unstyled">
                    <li><a target="_blank" href="https://www.amazon.co.uk/">Amazon</a>
                    </li>
                    <li><a target="_blank" href="https://www.argos.co.uk/">Argos</a>
                    </li>
                    <li><a target="_blank" href="https://www.next.co.uk/">Next</a>
                    </li>
                    <li><a target="_blank" href="https://www.mothercare.com/">Mothercare</a>
                    </li>
                    <li><a target="_blank" href="https://www.marksandspencer.com/">Marks &amp; Spencers</a>
                    </li>
                    <li><a target="_blank" href="https://www.asos.com/">ASOS</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                <h6 class="heading mb-3">USA Shops</h6>
                <ul class="list-unstyled">
                    <li><a target="_blank" href="https://www.amazon.com/">Amazon</a>
                    </li>
                    <li><a target="_blank" href="https://www.macys.com/">Macy's</a>
                    </li>
                    <li><a target="_blank" href="https://www.ebay.com/">Ebay</a>
                    </li>
                    <li><a target="_blank" href="https://www.bestbuy.com/">Best Buy</a>
                    </li>
                    <li><a target="_blank" href="https://www.sunglasshut.com/">Sunglass Hut</a>
                    </li>
                    <li><a target="_blank" href="https://www.zara.com/">Zara</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-4 mb-5 mb-lg-0">
                <h6 class="heading mb-3">Company</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Terms</a>
                    </li>
                    <li><a href="#">Privacy</a>
                    </li>
                    <li><a href="#">Support</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row align-items-center justify-content-md-between py-4 mt-4 delimiter-top">
            <div class="col-md-6">
                <div class="copyright text-sm font-weight-bold text-center text-md-left">
                    &copy; 2018 <a href="/" class="font-weight-bold" target="_blank">Overseas Connect Logistics</a>. All rights reserved.
                </div>
            </div>
            <div class="col-md-6">
                <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                    <li class="ml-lg-2 nav-item">
                        <a class="nav-link" href="https://twitter.com/OCLghana" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="https://www.instagram.com/oclghana/" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/oclghana/" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.linkedin.com/company/ocl-ghana" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{{end}}

{{define "theme_body_plugins"}}
<script src="/public/vendor/jquery/dist/jquery.min.js"></script>
<script src="/public/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/public/vendor/in-view/dist/in-view.min.js"></script>
<script src="/public/vendor/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="/public/vendor/swiper/dist/js/swiper.min.js"></script>
<script src="/public/vendor/select2/dist/js/select2.min.js"></script>
<script src="/public/js/theme.min.js"></script>
{{end}}

{{define "theme_head"}}
<link rel="icon" href="/public/img/brand/favicon.png" type="image/png">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800">
<link rel="stylesheet" href="/public/vendor/@fortawesome/fontawesome-free/css/all.min.css">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i" rel="stylesheet">
<link type="text/css" href="/public/vendor/@fancyapps/fancybox/dist/jquery.fancybox.min.css" rel="stylesheet">
<link type="text/css" href="/public/vendor/swiper/dist/css/swiper.min.css" rel="stylesheet">
<link type="text/css" href="/public/vendor/select2/dist/css/select2.min.css" rel="stylesheet">
<link rel="stylesheet" href="/public/css/theme.css">
<link rel="stylesheet" href="/public/css/style.css">
{{end}}
