<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "theme_meta"}}
        <title>
            My Account
        </title>
        {{template "theme_head"}}
    </head>
    <body>
        <header class="header-transparent" id="header-main">
            {{template "layout_search" .}}
            {{template "layout_top_navbar" .}}
            {{template "layout_main_navbar" .}}
        </header>
        <main>
            <header class="header-account-page bg-gradient-primary d-flex align-items-end nav-offset">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class=" col-lg-8">
                            <!-- Salute + Small stats -->
                            <div class="row align-items-center mb-4">
                                <div class="col-md-5 mb-4 mb-md-0">
                                    <span class="h2 mb-0 text-white d-block">Hello {{.Customer.Firstname}}</span>
                                    <span class="text-light">Welcome to your account</span>
                                </div>
                                <div class="col-auto flex-fill">
                                    <ul class="list-inline row justify-content-lg-end mb-0">
                                        <li class="list-inline-item col-sm-4 col-md-auto px-3 my-2 mx-0">
                                            <span class="badge badge-dot text-white">
                                                <i class="bg-green"></i>Pending
                                            </span>
                                            <a class="d-sm-block h5 text-white font-weight-bold pl-2" href="#">0</a>
                                        </li>
                                        <li class="list-inline-item col-sm-4 col-md-auto px-3 my-2 mx-0">
                                            <span class="badge badge-dot text-white">
                                                <i class="bg-orange"></i>Shipped
                                            </span>
                                            <a class="d-sm-block h5 text-white font-weight-bold pl-2" href="#">0</a>
                                        </li>
                                        <li class="list-inline-item col-sm-4 col-md-auto px-3 my-2 mx-0">
                                            <span class="badge badge-dot text-white">
                                                <i class="bg-red"></i>Received
                                            </span>
                                            <a class="d-sm-block h5 text-white font-weight-bold pl-2" href="#">0</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Account navigation -->
                            <div class="d-flex">
                                <div class="btn-group btn-group-nav shadow ml-auto" role="group" aria-label="Basic example">
                                    <div class="btn-group" role="group">
                                        <button id="btn-group-boards" type="button" class="btn btn-secondary btn-icon dropdown-toggle" data-toggle="dropdown" data-offset="0,8" aria-haspopup="true" aria-expanded="false">
                                            <span class="btn-inner--icon"><i class="fas fa-hotel"></i></span>
                                            <span class="btn-inner--text d-none d-sm-inline-block">Hubs</span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" aria-labelledby="btn-group-boards">
                                            <a class="dropdown-item" href="/app/">My Hubs</a>
                                            <a class="dropdown-item" href="#">Add</a>
                                        </div>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <button id="btn-group-boards" type="button" class="btn btn-secondary btn-icon dropdown-toggle" data-toggle="dropdown" data-offset="0,8" aria-haspopup="true" aria-expanded="false">
                                            <span class="btn-inner--icon"><i class="fas fa-shopping-bag"></i></span>
                                            <span class="btn-inner--text d-none d-sm-inline-block">Orders</span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" aria-labelledby="btn-group-boards">
                                            <a class="dropdown-item" href="#">Overview</a>
                                            <a class="dropdown-item" href="#">Track</a>
                                        </div>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <button id="btn-group-settings" type="button" class="btn btn-secondary btn-icon dropdown-toggle" data-toggle="dropdown" data-offset="0,8" aria-haspopup="true" aria-expanded="false">
                                            <span class="btn-inner--icon"><i class="fas fa-sliders-h"></i></span>
                                            <span class="btn-inner--text d-none d-sm-inline-block">Settings</span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" aria-labelledby="btn-group-settings">
                                            <a class="dropdown-item" href="#">Profile</a>
                                            <a class="dropdown-item" href="/app/password-update">Password</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <section class="pt-5 pt-lg-0 bg-secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 mb-5">
                            <div data-toggle="sticky" data-sticky-offset="100" data-negative-margin=".card-profile-cover">

                                <div class="card card-profile border-0 shadow  text-center">
                                    <div class="card-profile-cover">
                                        <img alt="Image placeholder" src="/public/img/profile-bg.jpg" class="card-img-top">
                                    </div>
                                    <a href="#">
                                        <img alt="Image placeholder" src="/public/img/avatar.jpg" class="card-profile-image avatar shadow">
                                    </a>
                                    <div class="card-body">
                                        <div class="mb-3">
                                            <h5 class="mb-0">{{.Customer.Firstname}} {{.Customer.Lastname}}</h5>
                                        </div>
                                        <span class="text-muted"><i class="fas fa-map-marker mr-2"></i>{{.Customer.Country}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 mt-lg-5 mb-5">
                            <div class="card">
                                <div class="card-header pt-4 pb-2 border-0">
                                    <h6 class="mb-0"><span class="text-info mr-1">My Customer Id: </span><span>{{.Customer.AccountNumber}}</span></h6>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        {{range .Hubs}}
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="heading heading-5 strong-600">{{.Name}}</h5>
                                                    <div class="card-text hub-info">
                                                        <code>{{linebreak .DeliveryInfo}}</code>
                                                    </div>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="row align-items-center">
                                                        <div class="col">
                                                            <img src="/public/img/flags/{{.ShortCode}}.png" class="avatar avatar-md">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        {{end}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        {{template "theme_footer"}}
        {{template "theme_body_plugins"}}
</body>
</html>
