<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "theme_meta"}}
        <title>
            Login
        </title>
        {{template "theme_head"}}
    </head>
    <body>
        <header class="header-transparent" id="header-main">
            {{template "layout_search" .}}
            {{template "layout_top_navbar" .}}
            {{template "layout_main_navbar" .}}
        </header>
        <main>
            <section class="slice slice-xl">
                <div class="container pt-lg">
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-lg-6">
                            <div class="card shadow zindex-100">
                                <div class="card-body px-md-5 py-5">
                                    <div class="text-center mb-5">
                                        <h6 class="h3">Sign into your Account</h6>
                                        <p class="text-muted mb-0">Please fill in the form with your login details.</p>
                                    </div>
                                    {{if .Errors }}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <span class="alert-inner--text">{{.Errors}}</span>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    {{end}}
                                    <span class="clearfix"></span>
                                    <form id="frmSignin" role="form" method="POST">
                                        <div class="form-group">
                                            <label class="form-control-label">Email</label>
                                            <input class="form-control" required id="email" name="email" type="email" data-parsley-errors-container="#email_errors">
                                            <div class="invalid-feedback" id="email_errors"></div>
                                        </div>

                                        <!-- Confirm Email -->
                                        <div class="form-group mb-4">
                                                <label class="form-control-label">Password</label>
                                                <input class="form-control" required id="password" name="password" type="password" data-parsley-errors-container="#password_errors">
                                                <div class="invalid-feedback" id="password_errors"></div>
                                        </div>
                                        <div class="row align-items-center">
                                            <div class="col-sm-7">
                                                <button type="submit" class="btn btn-primary mb-3 mb-sm-0">Login</button>
                                            </div>
                                        </div>
                                        <div class="row align-items-center mt-4">
                                            <div class="col-sm-12">
                                                <small>Forgotten Password?</small> <a class="small font-weight-bold" href="/password-recovery"> Click here to recover</a>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        {{template "theme_footer"}}
        {{template "theme_body_plugins"}}
        {{template "form_validation_plugin"}}
        <script>
            $("#frmSignin").parsley(validationOptions)
        </script>
</body>
</html>
