<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "theme_meta"}}
        <title>
            Activation
        </title>
        {{template "theme_head"}}
    </head>
    <body>
        <header class="header-transparent" id="header-main">
            {{template "layout_search" .}}
            {{template "layout_top_navbar" .}}
            {{template "layout_main_navbar" .}}
        </header>
        <main>
            <section class="slice slice-lg bg-gradient-primary nav-offset">
                <div class="container pt-lg">
                    <div class="row">
                        <div class="col-lg-8">
                            <h2 class="display-4 text-white">Account activation</h2>
                            <h5 class="mb-4 text-light">Please complete the form to activate your account and start shopping!</h5>
                        </div>
                    </div>
                </div>
                <a href="#sct-faq" class="tongue tongue-bottom tongue-white scroll-me">
                    <i class="fas fa-angle-down"></i>
                </a>
            </section>
            <section class="slice slice-lg">
                <div class="container">
                    {{ if .Errors }}
                    <div id="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <span class="alert-inner--icon"><i class="fas fa-times"></i></span>
                        <span class="alert-inner--text">
                            {{.Errors}}
                        </span>
                        <button type="button" class="undo" aria-label="Undo">Close</button>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {{end}}

                    <div class="row row-grid">
                        <div class="col-lg-8">
                            <form role="form" method="POST" id="frmActivation">
                                <div class="mb-5">
                                    <div class="page-inner-header mb-4">
                                        <h5 class="mb-1">Customer information</h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 form-group">
                                            <label class="form-control-label">Title</label>
                                            <input class="form-control" name="title" id="title" type="text" disabled value="{{.RegistrationInfo.Title}}">
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label class="form-control-label">First Name</label>
                                            <input class="form-control" name="firstname" id="firstname" type="text" disabled value="{{.RegistrationInfo.Firstname }}">
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label class="form-control-label">Last Name</label>
                                            <input class="form-control" name="lastname" id="lastname" type="text" disabled value="{{ .RegistrationInfo.Lastname}}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- Firstname -->
                                        <div class="col-md-6 form-group">
                                            <label class="form-control-label">Email</label>
                                            <input class="form-control" name="email" id="email" type="email" disabled value="{{.RegistrationInfo.Email}}">
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div class="page-inner-header mb-4">
                                        <h5 class="mb-1">Recipient Address</h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label class="form-control-label">Country</label>
                                            <select class="form-control" id="country" name="country" data-toggle="select" data-parsley-errors-container="#country_errors" required>
                                                <option value=""></option>
                                                {{range .Countries}}
                                                <option value="{{.Value}}">{{.Name}}</option>
                                                {{end}}
                                            </select>
                                            <div class="invalid-feedback" id="country_errors"></div>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label class="form-control-label">City</label>
                                            <select class="form-control" id="city" name="city" data-toggle="select" data-parsley-errors-container="#city_errors" required>
                                                <option value=""></option>
                                                {{range .Cities}}
                                                <option value="{{.Value}}">{{.Name}}</option>
                                                {{end}}
                                            </select>
                                            <div class="invalid-feedback" id="city_errors"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label class="form-control-label">Address</label>
                                            <input class="form-control" id="address" name="address" required data-parsley-errors-container="#address_errors" type="text">
                                            <div class="invalid-feedback" id="address_errors"></div>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label class="form-control-label">Address Line 2</label>
                                            <input class="form-control" id="address2" name="address2" type="text">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label class="form-control-label">Phone/Mobile</label>
                                            <input class="form-control" id="phone" name="phone" required data-parsley-errors-container="#phone_errors" type="text">
                                            <div class="invalid-feedback" id="phone_errors"></div>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label class="form-control-label">Alternative Phone/Mobile</label>
                                            <input class="form-control" id="phone2" name="phone2" data-parsley-errors-container="#phone2_errors" type="text">
                                            <div class="invalid-feedback" id="phone2_errors"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-5 text-right">
                                    <button type="submit" class="btn btn-sm btn-primary ml-2">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        {{template "theme_footer"}}
        {{template "theme_body_plugins"}}
        {{template "form_validation_plugin"}}
        <script>
            $("#frmActivation").parsley(validationOptions)
        </script>
</body>
</html>
