<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "theme_meta"}}
        <title>
            Registration Error
        </title>
        {{template "theme_head"}}
    </head>
    <body>
        <main>
            <div class="container h-100vh d-flex align-items-center">
                <div class="col">
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-lg-5 col-xl-4">

                            <div class="text-center mb-5">
                                <h6 class="h3">{{.CMS.invalid_message.title}}</h6>
                                <div class="text-muted mb-0">
                                {{markdown .CMS.invalid_message.body}}
                                </div>
                            </div>
                            <span class="clearfix"></span>

                            <div class="text-center mb-3">
                                <a href="/" class="btn text-white btn-block btn-primary">Go Back to Home page.</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        {{template "theme_footer"}}
        {{template "theme_body_plugins"}}
</body>
</html>
