<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "theme_meta"}}
        <title>
            Registration
        </title>
        {{template "theme_head"}}
    </head>
    <body>
        <header class="header-transparent" id="header-main">
            {{template "layout_search" .}}
            {{template "layout_top_navbar" .}}
            {{template "layout_main_navbar" .}}
        </header>
        <main>
            <section class="slice slice-xl">
                <div class="container pt-lg">
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-lg-6">
                            <div class="card shadow zindex-100">
                                <div class="card-body px-md-5 py-5">
                                    <div class="text-center mb-5">
                                        <h6 class="h3">Create your free account</h6>
                                        <p class="text-muted mb-0">Please fill in the form with your details.</p>
                                    </div>
                                    {{if .Errors }}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <span class="alert-inner--text">{{.Errors}}</span>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    {{end}}
                                    <span class="clearfix"></span>
                                    <form id="frmSignup" role="form" method="POST">
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label class="form-control-label">Title</label>
                                                <select class="form-control" id="title" name="title" data-toggle="select" required data-parsley-errors-container="#title_errors">
                                                    <option value=""></option>
                                                    {{range .TitleList}}
                                                    <option value="{{.}}">{{.}}</option>
                                                    {{end}}
                                                </select>
                                                <div class="invalid-feedback" id="title_errors"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- Firstname -->
                                            <div class="col-md-6 form-group">
                                                <label class="form-control-label">First Name</label>
                                                <input class="form-control" id="firstname" name="firstname" required="" type="text" data-parsley-errors-container="#firstname_errors">
                                                <div class="invalid-feedback" id="firstname_errors"></div>
                                            </div>

                                            <!-- Lastname -->
                                            <div class="col-md-6 form-group">
                                                <label class="form-control-label">Last Name</label>
                                                <input class="form-control" id="lastname" name="lastname" required="" type="text" data-parsley-errors-container="#lastname_errors">
                                                <div class="invalid-feedback" id="lastname_errors"></div>
                                            </div>
                                        </div>

                                        <!-- Email -->
                                        <div class="form-group">
                                            <label class="form-control-label">Email</label>
                                            <input class="form-control" required id="email" name="email" type="email" data-parsley-errors-container="#email_errors">
                                            <div class="invalid-feedback" id="email_errors"></div>
                                        </div>

                                        <!-- Confirm Email -->
                                        <div class="form-group mb-4">
                                                <label class="form-control-label">Repeat Email to Confirm</label>
                                                <input class="form-control" required id="email2" name="email2" type="email" data-parsley-errors-container="#email2_errors"
                                                    data-parsley-equalto="#email" data-parsley-equalto-message="Email fields must be equal">
                                                <div class="invalid-feedback" id="email2_errors"></div>
                                        </div>
                                        <div class="row align-items-center">
                                            <div class="col-sm-7">
                                                <button type="submit" class="btn btn-primary mb-3 mb-sm-0">Create account</button>
                                            </div>
                                            <div class="col-sm-5 text-sm-right">
                                                <span class="small d-sm-block d-md-inline">Already registered?</span>
                                                <a href="/login" class="small font-weight-bold">Sign in</a>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        {{template "theme_footer"}}
        {{template "theme_body_plugins"}}
        {{template "form_validation_plugin"}}
        <script>
            $("#frmSignup").parsley(validationOptions)
        </script>
</body>
</html>
